
<ion-content [fullscreen]="true">

  <div class="main_content_div">
    <ion-buttons slot="start" class="menu_btn">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <div class="user_div">
      <div class="firstDiv">
        <ion-label class="welcome">WELCOME</ion-label>
        <ion-label class="myname">TO MY PORTFOLIO</ion-label>

      </div>
      <div class="avatar_back" [style.backgroundImage]="'url(assets/me.jpg)'"></div>
    </div>

    <div class="content_div animated bounceInUp">
      <ion-label class="hello_lbl">Hello, you can choose and click one project that you want to check out! :)</ion-label>

      <ion-grid fixed>
        
        <ion-row>
          <ion-col size="6" (click)="goToSubject(item)" *ngFor="let item of subjects"> 
            <div class="col_div">
              <figure class="image fade">
                <img src="{{item.img}}" >
                <ion-label class="ion-label">{{item.name}}</ion-label>
                <figcaption ><ion-text style="size: 100px;">{{item.desc}}</ion-text></figcaption>
              </figure>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>


</ion-content>